/* About_Header */
.About_Header {
    width: 1000px;
    height: 500px;

    margin: 0 auto;
    margin-top: 20px;

    position: relative;
}

.About_Header>div {
    width: 750px;
    height: 500px;
    float: left;
}

.About_Header img {
    float: left;
}

.About_Header_box {
    width: 250px;
    height: 250px;
    background-color: rgba(133, 255, 92, 0.7);

    position: absolute;
    left: 0px;
    bottom: 0px;

    box-sizing: border-box;
    padding: 20px;
}

.About_Header_box li {
    margin-top: 10px;
}


/* About_Main */
.About_Main {
    width: 1000px;
    height: 500px;
}

.About_Main>div {
    width: 250px;
    height: 250px;

    float: left;


    box-sizing: border-box;
    padding: 20px;

    background-color: yellow;
}

.About_Main>div:nth-child(2),
.About_Main>div:nth-child(5),
.About_Main>div:nth-child(7 )
{
    background-color: lightsalmon;
}


.About_Main>div:nth-child(4) {
    height: 500px;
    float: right;
    background-color: lightblue;
}


/* About_Footer */
.About_Footer {
    width: 1000px;
    height: 40px;

    margin: 0 auto;
}

.About_Footer ul {
    width: 750px;
    height: 100%;

    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.About_Footer li {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.About_Footer li::after {
    content: '|';
    color: orange;
    margin-left: 10px;
}

.About_Footer li:last-child::after {
    content: '';
}