/* header 이미지 */
.About_Header {
    width: 1000px;
    height: 500px;

    padding-top: 10px;

    margin: 0 auto;
}

.About_Header>div:nth-child(1) {
    width: 750px;
    height: 500px;
    float: left;
}

.About_Header>.OnImage:nth-child(1)>.OnText {
    width: 250px;
    height: 250px;
    background-color: rgb(0, 255, 0, 0.3);

    margin-top: 250px;
}

.About_Header>div:nth-child(1)>div>h2 {
    width: 100px;

    padding: 20px 10px 10px 20px;

    font-size: 20px;
    font-weight: bold;
}

.About_Header>div:nth-child(1)>div>p {
    padding: 10px;
    font-size: 14px;
    padding: 10px 10px 10px 20px
}


.About_Header>div:nth-child(2),
.About_Header>div:nth-child(3) {
    width: 250px;
    height: 250px;
    float: left;
}


/* 중간에 박스*/
.About_Main {
    width: 1000px;
    height: 500px;

    margin: 0 auto;
}

.About_Main>.TextDisplay {
    float: left;
    width: 210px;
    height: 210px;
    padding: 20px;

    background-color: yellow;
}

.About_Main>.TextDisplay:nth-child(4) {
    float: right;
    height: 460px;
    background-color: lightblue;
}

.About_Main>.TextDisplay:nth-child(2),
.About_Main>.TextDisplay:nth-child(5),
.About_Main>.TextDisplay:nth-child(7) {
    background-color: brown;
}

.About_Main>.TextDisplay>p:nth-child(1) {
    font-size: large;
    font-weight: bold;
}



/* 맨 밑에 footer */
.About_Footer {
    width: 1000px;
    margin: 0 auto;
}

.About_Footer>div {
    width: 750px;
    height: 40px;
    background-color: gray;
}

.About_Footer>div>p {
    float: left;
    padding: 10px 0px 10px 10px;
    
}

.About_Footer>div>p::after{
    content: '|';
    color: orange;
    padding-left: 10px;
}

.About_Footer>div>p:last-child::after{
    content: none;
}