* {
    margin: 0;
}




/* header안에 들어있는 박스들 */
.Main_Header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.Main_Header>li:nth-child(n+4) {
    float: right;
}

.Main_Header>img {
    text-align: center;
    margin-top: 10px;
}

.MoveToPage {
    float: left;
    list-style: none;
    text-align: center;

    margin: 50px 50px 0px 50px;
}

.MoveToPage:hover {
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: black;
    margin: 0;
    border: 0;
}




/* Main_img */
.Main_img {
    width: 100%;
}





/* Icon title의 박스 */
.Main_IconTitle {

    width: 100%;
    text-align: center;

    padding: 30px 0px 30px 0px;
}

.Main_IconTitle .TextDisplay p:nth-child(1) {
    font-size: 15px;
}

.Main_IconTitle .TextDisplay p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}







/* Icon 박스 */
.Main_Icons {
    margin: 0 auto;
    text-align: center;
}


.Main_Icons>.ImageExplanation {
    display: inline-block;
    padding: 20px;
    width: 250px;
}

.Main_Icons>.ImageExplanation>p {
    line-height: 25px;
}




/* ChefsBox */
.Main_Chef {
    width: 100%;
    background-color: lightgray;

    text-align: center;
}

.Main_Chef>.TextDisplay {
    display: inline-block;
    vertical-align: top;

    width: 550px;
    margin-top: 100px;
}

.Main_Chef>img {
    display: inline-block;
}

.Main_Chef>.TextDisplay p {
    text-align: left;
    padding: 0px 30px 0px 30px;
}

.Main_Chef>.TextDisplay>p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


.Main_Chef>.TextDisplay>p:nth-child(2) {
    font-size: 15px;
    line-height: 25px;
}